h1 {
  margin: 10% 33%;
}

.drawing-area {
  /* centers drawing area */
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 80%;
  max-width: 600px;
  width: 600px;
  height: 600px;
  background-color: white;
  /* border: 2px solid greenyellow; */
  margin-top: 30px;
  position: relative;
  top: 60px;
}

header {
  list-style-type: none;
  margin:0;
  padding-top:10px;
  background-color: #9fc3f9;
  height: 60px;
  position: absolute;  
  top: 0;
  left: 0;
  /* width: 100svw; */
  width: 100%;
  text-align: center;
}

body {
  background-color: #d9d9d9;
}

toolbar {
  width: 80px;
  left: 30px;
  max-width: 100 px;
  background-color: #9fc3f9;
  margin: 10px;
  position: absolute;
  bottom: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


