.button-container { 
 width: 50px; 
 height: 50px; 
}

.icon { 
    width: 50px; 
    height: 50px; 
}

.toolbar-container { 
    width: 200px;
    height: 500px; 
    z-index: 2;
    background-color: #ADD3DD;
}

.tool-container {
    width: 10%;
    height: 10%;
}